.landing-page .header {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}
.header .logo {
    width: 500px;
    font-weight: bold;
    top: 6px;
    position: relative;
}
.header a{
    text-decoration: none;
}
.header a h4{
    font-size: 24px;
    width: 223px;
    margin: 0;
    color: #c596c5;
}

.header .logo img{
    width: 144px;
    height: 58px;
    border-radius: 46%;
    object-fit: cover;
}
.header .alllinks {
    font-size: 15px;
    list-style: none;
    text-align: right;
    padding-left: 0;
}
.header .alllinks li {
    margin-left: 20px;
    display: inline;
}
.header ul li a {
    color: rgb(218, 65, 172);
    text-decoration: none;
    font-size: 17px;
}

.header ul li a:hover{
    color: var(--main-color)
}
.icon-link {
    background: none;
    border: none;
    width: 30px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
}
.icon-link:focus {
    outline: none;
}
.icon-link.menulist:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: 14px;
    right: 14px;
}
.icon-link span {
    background-color: var(--main-color);
    margin-bottom: 4px;
    display: block;
    height: 4px;
}
.Bars{
    display: none;
    cursor: pointer;
}
.openMenu{
    height: 100vh;
    width: 300px;
    margin: 0;
    padding: 0;
    background:linear-gradient(117deg, #c0d2d2, #ffffffed);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 1s ease;
}
.header .openMenu li{
    margin-bottom: 25px;
    height: 30px;
}
.header .openMenu li a{
    font-size: 25px;
}
.header .openMenu li a:hover{
    color: aliceblue;
    font-size: 28px;
    background: linear-gradient(90deg,#94c3c4,#c596c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
    .header .logo {
        /* width: 148px; */
    }
    .header ul li a {
        /* font-size: 35px; */
    }
    .header .logo img {
        width: 107px;
        height: 43px;}
}
@media (max-width: 768px) {
    ul{
        display: none;
    }
    
    .Bars{
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .Bars span{
        width: 100%;
        height: 3px;
        background-color: var(--main-color);
        cursor: pointer;
        transform-origin: left;
        transition: all 2s ease;
    }
    .open .line1{
        background-color: white;
        transform: rotate(45deg);
    }
    .open span:nth-child(2){
        opacity: 0;
    }
    .open span:last-child{
        background-color: white;
        transform: rotate(-45deg);
    }  
    .openMenu{
        transform: translate(10px, -12rem);
    }  
}
@media (max-width: 376px){
    .openMenu {
        transform: translate(0px, 0rem);
    }
}


